__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.pkl
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.bin
*.safetensors
*.joblib
venv/
.venv/
env/
.env
node_modules/
.DS_Store
Thumbs.db
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.mp4
*.avi
*.mov
# Visual Studio
.vs/
Debug/
Release/
x64/
x86/
*.exe
*.obj
*.pdb
*.ilk
*.sdf
*.ipch
*.suo
*.user
*.opendb
*.db

